@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Bold.eot');
    src: local('NeutrifPro-Bold'),
        url('../fonts/NeutrifPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Bold.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Bold.woff') format('woff'),
        url('../fonts/NeutrifPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Light.eot');
    src: local('NeutrifPro-Light'),
        url('../fonts/NeutrifPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Light.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Light.woff') format('woff'),
        url('../fonts/NeutrifPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-MediumItalic.eot');
    src: local('NeutrifPro-MediumItalic'),
        url('../fonts/NeutrifPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-MediumItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Medium.eot');
    src: local('NeutrifPro-Medium'),
        url('../fonts/NeutrifPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Medium.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Medium.woff') format('woff'),
        url('../fonts/NeutrifPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-BoldItalic.eot');
    src: local('NeutrifPro-BoldItalic'),
        url('../fonts/NeutrifPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-BoldItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-LightItalic.eot');
    src: local('NeutrifPro-LightItalic'),
        url('../fonts/NeutrifPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-LightItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-LightItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-SemiBold.eot');
    src: local('NeutrifPro-SemiBold'),
        url('../fonts/NeutrifPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-SemiBold.woff2') format('woff2'),
        url('../fonts/NeutrifPro-SemiBold.woff') format('woff'),
        url('../fonts/NeutrifPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Regular.eot');
    src: local('NeutrifPro-Regular'),
        url('../fonts/NeutrifPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Regular.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Regular.woff') format('woff'),
        url('../fonts/NeutrifPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-RegularItalic.eot');
    src: local('NeutrifPro-RegularItalic'),
        url('../fonts/NeutrifPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-RegularItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-RegularItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-SemiBoldItalic.eot');
    src: local('NeutrifPro-SemiBoldItalic'),
        url('../fonts/NeutrifPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-SemiBoldItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

[data-color="white"] {
    color: #fff;
}

[data-color="blue"] {
    color: #003262;
}

[data-color="darkblue"] {
    color: #0E3D6A;
}

[data-color="red"] {
    color: #ED2C2A;
}

[data-bg-color="red"] {
    background-color: #ED2C2A;
}

[data-p-size="p0"] {
    font-size: 0.9em;
}

[data-p-size="p1"] {
    font-size: 1em;
}

[data-font-style="Neutrif Pro"] {
    font-family: Neutrif Pro;
}

[data-font-weight="300"] {
    font-weight: 300;
}

[data-font-weight="500"] {
    font-weight: 500;
}

[data-font-weight="600"] {
    font-weight: 600;
}

[data-font-weight="bold"] {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}
h3,h4{
    margin-bottom: 3px;
}
.disable {
    display: none;
}

.swiper1{
    width: 100%;
    height: 100%;
}
.custom-container{
   width: 100%;
   max-width: 1500px;
   margin:0 auto;
   padding:0 15px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    width: 100%;
    height: 100%;
 
}
.deck-container::after{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    right: 0;
    bottom: 0;
    width: 600px;
    height: 400px;
    background-image: url(../images/pattern.png);
    background-size: contain;
    z-index: 1;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.h-100 {
    min-height: 100vh;
}

.deck-container {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
}

.pagination-container {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 350px;
}

.swiper-pagination {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 15px;
    border-radius: 28.397px;
    background: #FFF;
    box-shadow: -3px 7px 20.4px 0px rgba(175, 175, 175, 0.29);
}

.swiper-button-prev {
    background-image: url(../images/Aroow_Left.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 43px;
    background: #fff;
    border-radius: 28.397px;
    box-shadow: -3px 7px 20.4px 0px rgba(175, 175, 175, 0.29);
}

.swiper-button-next {
    background-image: url(../images/Aroow_Right.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 43px;
    background: #fff;
    border-radius: 28.397px;
    box-shadow: -3px 7px 20.4px 0px rgba(175, 175, 175, 0.29);
}

.swiper-button-next,
.swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 65%);
}

.swiper-button-next::after {
    display: none; 
}

.swiper-button-prev::after {
    display: none;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { 
    display: none;
}

.custom-styling h3{
    font-size: 25px;
}
.custom-styling h4{
    font-size: 20px;
}
.custom-styling ul li{
    font-weight: 400;
    color:#0E3D6A;
    font-size: 18px;
    line-height: 1.3em;
    padding: 3px 0px;
}
.home-icon-vector:hover{
    opacity:1!important;
}
.home-icon-vector:hover path{
    fill:#003262;
}
/*
 #############################
 ######## primaryDeck ########
 #############################
 */
.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87px;
    padding: 20px 0px 0px 0px;
    z-index: +9;
    width: 100%;
}

.header>h1 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Neutrif Pro';
    color: #003262;
    font-size: 3em;
}

.header>.home-logo {
    position: absolute;
    width: 100%;
    max-width: 120px;
    right: 50px;
}

#primaryDeck {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 0px 0px;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
}

#primaryDeck .home-footer {
    position: absolute;
    background-image: url(../images/home-footer-pattern.png);
    width: 100vw; 
    background-repeat: no-repeat;
    height: 80px;
    background-size: cover;
    bottom: 0px;
}

#primaryDeck>.primaryDeck-parent {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 0px;
    width: 100%;
    padding: 0px 0px;
    max-width: 1250px;
    z-index: +1;
}

#primaryDeck>.primaryDeck-parent>.primaryDeck-child {
    width: 100%;
    max-width: 210px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0px solid rgb(255, 255, 255);
    cursor: pointer; 
}


#primaryDeck>.primaryDeck-parent>.primaryDeck-child>p {
    font-family: 'Neutrif Pro';
    font-weight: 600;
    color: #0E3D6A;
    text-align: center;
}

#primaryDeck>.primaryDeck-parent>.primaryDeck-child>img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

#primaryDeck>.primaryDeck-parent>.primaryDeck-child:hover img{
    transform: scale(0.9);
    transition: all 0.4s ease-in-out;
}
 

/*
 ##############################
 ######## secondaryDeck ########
 ##############################
 */

#secondaryDeck {
    background-color: aqua;

}

#secondaryDeck>.secondaryDeck-parent {
    overflow: hidden; 
}

#secondaryDeck1>.secondaryDeck-parent {
    overflow: hidden;

}

#secondaryDeck2>.secondaryDeck-parent {
    overflow: hidden;

}

#secondaryDeck3>.secondaryDeck-parent {
    overflow: hidden;

}
#secondaryDeck4>.secondaryDeck-parent {
    overflow: hidden;

}
#secondaryDeck5>.secondaryDeck-parent {
    overflow: hidden;

}
#secondaryDeck6>.secondaryDeck-parent {
    overflow: hidden;

}
#secondaryDeck7>.secondaryDeck-parent {
    overflow: hidden;

}
#secondaryDeck8>.secondaryDeck-parent {
    overflow: hidden;

}
#secondaryDeck9>.secondaryDeck-parent {
    overflow: hidden;

}












@media(max-width:1200px) {
    #primaryDeck>.primaryDeck-parent {
        row-gap: 10px;
        column-gap: 10px;
    }
}

@media(max-width:990px) {
    #primaryDeck>.primaryDeck-parent>.primaryDeck-child {
        max-width: 150px;
    }

    #primaryDeck>.primaryDeck-parent {
        row-gap: 2px;
        column-gap: 2px;
    }
}