@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Bold.eot');
    src: local('NeutrifPro-Bold'),
        url('../fonts/NeutrifPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Bold.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Bold.woff') format('woff'),
        url('../fonts/NeutrifPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Light.eot');
    src: local('NeutrifPro-Light'),
        url('../fonts/NeutrifPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Light.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Light.woff') format('woff'),
        url('../fonts/NeutrifPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-MediumItalic.eot');
    src: local('NeutrifPro-MediumItalic'),
        url('../fonts/NeutrifPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-MediumItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Medium.eot');
    src: local('NeutrifPro-Medium'),
        url('../fonts/NeutrifPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Medium.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Medium.woff') format('woff'),
        url('../fonts/NeutrifPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-BoldItalic.eot');
    src: local('NeutrifPro-BoldItalic'),
        url('../fonts/NeutrifPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-BoldItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-LightItalic.eot');
    src: local('NeutrifPro-LightItalic'),
        url('../fonts/NeutrifPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-LightItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-LightItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-SemiBold.eot');
    src: local('NeutrifPro-SemiBold'),
        url('../fonts/NeutrifPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-SemiBold.woff2') format('woff2'),
        url('../fonts/NeutrifPro-SemiBold.woff') format('woff'),
        url('../fonts/NeutrifPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-Regular.eot');
    src: local('NeutrifPro-Regular'),
        url('../fonts/NeutrifPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-Regular.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Regular.woff') format('woff'),
        url('../fonts/NeutrifPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-RegularItalic.eot');
    src: local('NeutrifPro-RegularItalic'),
        url('../fonts/NeutrifPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-RegularItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-RegularItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: url('../fonts/NeutrifPro-SemiBoldItalic.eot');
    src: local('NeutrifPro-SemiBoldItalic'),
        url('../fonts/NeutrifPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutrifPro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/NeutrifPro-SemiBoldItalic.woff') format('woff'),
        url('../fonts/NeutrifPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

[data-color="white"] {
    color: #fff;
 }
[data-color="blue"] {
   color: #003262;
}
[data-color="red"] {
    color: #ED2C2A;
 }
 [data-bg-color="red"] {
    background-color: #ED2C2A;
 }
[data-font-style="Neutrif Pro"] {
    font-family: Neutrif Pro;
}

[data-font-weight="300"] {
    font-weight: 300;
}

[data-font-weight="500"] {
    font-weight: 500;
}

[data-font-weight="600"] {
    font-weight: 600;
}

[data-font-weight="bold"] {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

.disable {
    display: none;
}

.swiper1 {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.h-100 {
    min-height: 100vh;
}

.deck-container {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
}

/*
 #############################
 ######## primaryDeck ########
 #############################
 */
.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87px;
    padding: 20px 0px 0px 0px;
    z-index: +9;
    width: 100%;
}

.header>h1 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Neutrif Pro';
    color: #003262;
    font-size: 3em;
}

.header>.home-logo {
    position: absolute;
    width: 100%;
    max-width: 120px;
    right: 50px;
}

#primaryDeck {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 0px 0px;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
}

#primaryDeck .home-footer {
    position: absolute;
    background-image: url(../images/home-footer-pattern.png);
    width: 100%;
    height: 118px;
    bottom: 0;
}

#primaryDeck>.primaryDeck-parent {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 23px;
    width: 100%;
    padding: 20px 0px;
    max-width: 1250px;
    z-index: +1;
}

#primaryDeck>.primaryDeck-parent>.primaryDeck-child {
    width: 100%;
    max-width: 190px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0px solid rgb(255, 255, 255);
    cursor: pointer;
}

#primaryDeck>.primaryDeck-parent>.primaryDeck-child>p {
    font-family: 'Neutrif Pro';
    font-weight: 600;
    color: #0E3D6A;
    font-size: 1em;
    text-align: center;
}

#primaryDeck>.primaryDeck-parent>.primaryDeck-child>img {
    width: 100%;
}

#primaryDeck>.primaryDeck-parent>.primaryDeck-child:hover {}



/*
 ##############################
 ######## secondaryDeck ########
 ##############################
 */

#secondaryDeck {
    background-color: aqua;

}

#secondaryDeck>.secondaryDeck-parent {
    overflow-x: hidden;
   
}

#secondaryDeck1>.secondaryDeck-parent {
    overflow-x: hidden;
    
}

#secondaryDeck2>.secondaryDeck-parent {
    overflow-x: hidden;
    
}













@media(max-width:1200px) {
    #primaryDeck>.primaryDeck-parent {
        row-gap: 10px;
        column-gap: 10px;
    }
}

@media(max-width:990px) {
    #primaryDeck>.primaryDeck-parent>.primaryDeck-child {
        max-width: 150px;
    }

    #primaryDeck>.primaryDeck-parent {
        row-gap: 2px;
        column-gap: 2px;
    }
}